/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-font: 16px "Arial";
    -fx-background-color: #606060;
    -fx-background-color: linear-gradient(to top right, #7582a3, #3d4861) where ;
}


#PlayerPane {
	-fx-alignment: center;
	-fx-text-base-color: white;
	-fx-background-color: linear-gradient(to top right, #7582a3, #3d4861);
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-padding: 10, 2, 10, 2;
}

#LobbyPane, #MapPane {/*Holds the lobbyVBox and the player scroll pane */
	/*-fx-background-color: rgba(255,140,0, 0.0);/* */
	-fx-padding: 75;
	-fx-border-color: #3d4861;
	-fx-border-insets: 5;
	-fx-border-width: 0;
	-fx-fit-to-width: true;
}


#lobbyBorderPane, #mapInfoBorderPane{/*Where info is displayed */
	-fx-alignment: center;
	-fx-background-color: rgba(0,0,0, 0.5);/*light light blue */
    -fx-font: 20px "Arial";
    -fx-text-base-color: white;
    -fx-text-background-color: white;
}


#playerListBorderPane {
	-fx-alignment: center;
}

#playerHBox {
	-fx-alignment: center;
}


.scroll-pane > .viewport {/*In order to see through the scroll pane */
	-fx-alignment: center;
   -fx-background-color: transparent;
}

#playersScrollPane {
	-fx-alignment: center;
	-fx-fit-to-width: true;
	-fx-background-color: rgba(200, 200, 200, .5);/*Gray, half vis */
	
}

#nameLabel, #foodLabel, #fuelLabel, #dayLabel {
    -fx-font: 20px "Arial";
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#playersVBox {
    -fx-font: 20px "Arial";
    -fx-text-base-color: white;
    -fx-text-background-color: white;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    
}

#turnSummary {
	-fx-font: 15px "Arial";
    -fx-text-base-color: white;
    -fx-text-background-color: white;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
}

#titleHBox {
	-fx-font: 30px "Arial";
	-fx-padding: 10px;
	-fx-alignment: center;
	-fx-text-background-color: green;
}

#readyLabel{
    -fx-font: 16px "Arial";
    
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;	
}