/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-font: 16px "Serif";
    -fx-padding: 10;
    -fx-background-color: #606060;
    -fx-background-color: linear-gradient(to top right, #7582a3, #3d4861) where ;
}

#PlayerPane {
	-fx-background-color: rgba(255,0,255, 0.1);/* */
}

#LobbyPane {/*Holds the lobbyVBox and the player scroll pane */
	-fx-background-color: rgba(255,140,0, 0.0);/* */
	-fx-border-color: black;
	-fx-border-insets: 5;
	-fx-border-width: 3;
}

#lobbyBorderPane{/*Where the lobby code is displayed */
	-fx-background-color: rgba(240,255,240, 0.5);/*light light blue */
    -fx-font: 20px "Serif";
}


#playerList {
	-fx-background-color: rgba(178,34,34, 0.0);	/*Red */
}

.scroll-pane > .viewport {/*In order to see through the scroll pane */
   -fx-background-color: transparent;
}

#playersScrollPane {
	-fx-background-color: rgba(105,105,105, .25);/*Green */
	
}

#PlayerPane {/*Top during player list.*/
	-fx-background-color: rgba(0,0,205, 0.0);/*Blue */	
}