extend layout
block content
  script(src='javascripts/gamedata.js')
  script(src='javascripts/responsereceivedactions.js')
  script(src='javascripts/requestreceivedactions.js')
  script(src='javascripts/displaycontroller.js')
  script(src='javascripts/asteriumconnection.js')
  
  div(id='centralDiv')
    <p>Loading...

block sidebar
  .widget
    h1 Widget
    p
      | This will be in the sidebar block.