extend layout
block content
  script(src='javascripts/gamedata.js')
  script(src='javascripts/responsereceivedactions.js')
  script(src='javascripts/requestreceivedactions.js')
  script(src='javascripts/controllers/abstractdisplay.js')
  script(src='javascripts/controllers/actiondisplay.js')
  script(src='javascripts/controllers/activitydisplay.js')
  script(src='javascripts/controllers/waitingforplayersdisplay.js')
  script(src='javascripts/controllers/afterturnwaitingdisplay.js')
  script(src='javascripts/controllers/joinlobbydisplay.js')
  script(src='javascripts/controllers/locationsdisplay.js')
  script(src='javascripts/controllers/viewinventorydisplay.js')
  script(src='javascripts/controllers/iteminteractiondisplay.js')
  
  script(src='javascripts/asteriumconnection.js')
  
  div(id='centralDiv')
    <p>Loading...

block sidebar
  .widget
    h1 Widget
    p
      | This will be in the sidebar block.