extend layout
block content

  script(src='javascripts/gamestate.js')
  script(src='javascripts/asteriumconnection.js')
  script(src='javascripts/displaycontroller.js')

  div(id='centralDiv')

block sidebar
  .widget
    h1 Widget
    p
      | This will be in the sidebar block.